online-help/_docs.html
<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ansarada Help</title>
        <link rel="stylesheet" href="style/ace-core.css" media="all">
        <link rel="stylesheet" href="style/ace-theme.css" media="all">
        <link rel="stylesheet" href="style/style.css" media="all">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  </head>
  <body class="ace-page">
    <div id="page">
      <header id="header" role="banner">
        <div class="header-container"></div>
      </header>
      <main id="content" role="main">
        <div class="ace-group ace-page-content">
          <div class="ace-item ace-page-content-content">
          </div>
        </div>
      </main>
    </div>
    <div id="hidden">
      <script src="scripts/jquery-2.1.4.min.js"></script>
      <script src="scripts/ace.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    </div>
  </body>
</html>

source/docs/_docs.jade
doctype html
html(lang="en")
	head
		include _mixins
		block vars
		+docHead()
		block head

	body.ace-page
		#page
			header#header(role='banner')
				.header-container
			main#content(role='main')
				.ace-group.ace-page-content
					.ace-item.ace-page-content-content
						if pageTitle == homePageTitle
						else
							h1= pageTitle
						block content
		#hidden
			script(src="scripts/jquery-2.1.4.min.js")
			script(src='scripts/ace.js')
			script(src='http://localhost:35729/livereload.js')
			block hidden
